sentence-transformers
langchain
langchain-core
langchain-text-splitters
langchain-community
langchain-pinecone
langchain-google-genai
langchain-huggingface
flask
pypdf
python-dotenv
pinecone[grpc]
google-generativeai
huggingface-hub
gunicorn
-e .