# sentence-transformers
# langchain
# langchain-core
# langchain-text-splitters
# langchain-community
# langchain-pinecone
# langchain-google-genai
# langchain-huggingface
# flask
# pypdf
# python-dotenv
# pinecone[grpc]
# google-generativeai
# huggingface-hub
# gunicorn
# torch
# -e .
flask
gunicorn
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-pinecone
langchain-google-genai
langchain-huggingface
sentence-transformers
torch
pinecone[grpc]
google-generativeai
huggingface-hub
pypdf
python-dotenv