sentence-transformers>=2.5.0
langchain>=0.1.0
langchain-core>=0.1.0
langchain-text-splitters>=0.0.1
langchain-community>=0.0.1
langchain-pinecone>=0.0.1
langchain-google-genai>=1.0.0
langchain-huggingface>=0.0.1
flask>=2.3.0
pypdf>=4.0.0
python-dotenv>=1.0.0
pinecone[grpc]>=3.0.0
google-generativeai>=0.3.0
huggingface-hub>=0.20.0
-e .